*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;}
body{
    background-color: #e6ebec;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.main{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "nav"
                        "footer";
    gap: 0 0;
    position: fixed;
    z-index: 10;
    overflow: scroll;
}
nav{
    grid-area: nav;
    height: 60px;
    background-color: #f6c11f;
}
ul{
    position: absolute;
    right: 10px;
    top: 20px;
    margin: 0;
    padding: 0;
}
li{
    color: white;
    font-weight: 600;
    list-style: none;
    font-size: 18px;
    padding-left: 15px;
    display: inline-flex;
}
.title{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 10px;
    left:10px;
}
.title:hover{
    font-size: 35px;
    transition: font-size 0.1s linear;
}
.about{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 300px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.about h1{ 
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.about p{
    display: flex;
    align-items: center;
    width: 70%;
    height: 300px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
}
form{
    display: grid;
    grid-template-rows: 40px 35px 30px 35px 30px 35px 200px 40px;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 5px;
}
form h1{
    grid-area: 1/1;
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.email{
    grid-area: 2/1;
    font-size: 30px;
    font-weight: 600;
}
#email{
    box-sizing: border-box;
    grid-area: 3/1;
    width: 300px;
    appearance: none;
    border: none;
    background-color: #e6ebec;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
    padding: 2px;
}
#email:focus{
    outline: none;
}
.subject{
    grid-area: 4/1;
    font-size: 30px;
    font-weight: 600;
}
#subject{
    box-sizing: border-box;
    grid-area: 5/1;
    width: 300px;
    appearance: none;
    background-color: #e6ebec;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
    padding: 2px;
}
#subject:focus{
    outline: none;
}
.email-body{
    grid-area: 6/1;
    font-size: 30px;
    font-weight: 600;
}
#email-body{
    box-sizing: border-box;
    grid-area: 7/1;
    appearance: none;
    border: none;
    background-color: #e6ebec;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
    padding: 2px;
}
#email-body:focus{
    outline: none;
}
.submit{
    grid-area: 8/1;
    appearance: none;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
    padding: 2px;
    width: 50px;
    height: 30px;
    margin-top: 5px;
}
footer{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 36px;
    color: white;
    background-color: #f6c11f;
    z-index: 1;
}
footer .email-foot{
    position: absolute;
    right: 0px;
}
footer span{
    margin: 10px;
}