*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;}
body{
    background-color:  	#e6ebec;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.main{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "nav"
                        "footer";
    gap: 0 0;
    position: fixed;
    z-index: 10;
    overflow: scroll;
}
nav{
    grid-area: nav;
    height: 60px;
    background-color: #f6c11f;
}
ul{
    position: absolute;
    right: 10px;
    top: 20px;
    margin: 0;
    padding: 0;
}
li{
    color: white;
    font-weight: 600;
    list-style: none;
    font-size: 18px;
    padding-left: 15px;
    display: inline-flex;
}
.title{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    top: 10px;
    left:10px;
}
.title:hover{
    font-size: 35px;
    transition: font-size 0.1s linear;
}
.content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 200px);
    gap: 0;
}
.content-article{
    display: grid;
    grid-template-areas: "name img"
                         "description img" ;
    margin: 5px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
}
.content-article h1{
    grid-area: name;
    height: 50px;
    padding-left: 5px;
}
.content-article p{
    grid-area: description;
    height: 150px;
    width: 90%;
    padding-left: 5px;
}
.content-article img{
    grid-area: img;
    width: 180px;
    height: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
footer{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 36px;
    color: white;
    background-color: #f6c11f;
    z-index: 1;
}
footer .email{
    position: absolute;
    right: 0px;
}
footer span{
    margin: 10px;
}